# ==========================
# IntelliJ IDEA
# ==========================
.idea/
*.iml

# ==========================
# Maven
# ==========================
**/target/

# ==========================
# Node.js
# ==========================
**/node_modules/
**/dist/

# ==========================
# Environment files
# ==========================
**/.env

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db